body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#dashboard {
  background-color: rgb(238, 242, 243);
  padding: 10px;
}
#dashboardHeading {
  display: flex;
  flex-direction: row;
}
#dashboardIcons {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
#dashboardIcons button {
  background-color: white;
  height: 30px;
  border-radius: 5px;
}
#dashboardLayout {
  padding: 10px;
}

.widget {
  height: auto;

  border-radius: 20px;
  padding: 10px;
  background-color: white;
}
.sidebar {
  position: fixed;
  right: -800px;  
  top: 0;
  width: 800px;
  height: 100%;
  background: #fff;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
}

.sidebar.open {
  right: 0;   /* visible */
}
