body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#main {
  background-color: white;
  border-top: 2px solid #a2a2f6;
}
#header {
  display: flex;
  margin: 2%;
  flex-wrap: wrap;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
#headerHeading {
  color: #6868f2;
}
#header p {
  margin: 0;
}
#searchbox {
  display: flex;
  flex-grow: 6;
  justify-content: flex-end;
  gap: 2%;
  align-items: center;
}
#searchbox p {
  margin: 0;
}
@media (max-width: 768px) {
  #searchbox {
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
#searchinput {
  width: 40%;
  background-color: #f5faff;
  border: 1px solid lightblue;
  border-radius: 5px;
  height: max-content;
  padding: 0.5%;
}
@media (max-width: 768px) {
  #searchinput {
    width: 80%;
    background-color: #f5faff;
    border: 1px solid lightblue;
    border-radius: 5px;
    height: max-content;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

#dashboard {
  background-color: #e8f0f7;
  padding: 2%;
  padding-top: 0;
  min-height: 100vh;
}
#dashboardHeading {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1%;
}
#dashboardIcons {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
  align-items: center;
}
#dashboardIcons button {
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 2rem;
  flex-shrink: 0;
}
#dashboardIcons button:active {
  background-color: #b4d0eb;
}
#dashboardIcons button:hover {
  border: 3px solid rgb(176, 229, 247);
}
@media (max-width: 768px) {
  #dashboardIcons {
    width: 100%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    justify-content: flex-start;
  }
}

#dashboardLayout {
  padding: 5px;
  padding-top: 0px;
}

.widget {
  height: 150px;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
  z-index: 1;
  position: relative;
}
.widget:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid lightblue;
}
.widget:hover .removebtn {
  display: block;
  position: absolute;
  top: -6%;
  left: 90%;
  width: max-content;
  border: 1px solid red;
  border-radius: 10px;
  z-index: 2;
  background-color: white;
  cursor: pointer;
  padding: 5px;
}
#shimmer {
  height: 150px;
  border-radius: 10px;
  padding: 5px;
  background-color: #ffffffc1;
  text-align: center;
  justify-content: center;
  place-items: center;
  display: flex;
}
#shimmerbtn {
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 2rem;
  flex-shrink: 0;
}
#shimmerbtn button:active {
  background-color: #b3d4f4;
}
#shimmerbtn button:hover {
  border: 3px solid rgb(176, 229, 247);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -50%;
  top: 0;
  width: 50%;

  z-index: 3;
  background: white;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);

  height: 100vh;
}

.sidebar.open {
  right: 0;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    right: -70%;
    top: 0;
    width: 70%;
    height: 100%;
    z-index: 3;
    background: white;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  }
}
#sidebarheading {
  text-align: center;
  margin: 0;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(54, 54, 149);
  align-items: center;
}
#sidebarwidget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#sidebarbody {
  padding: 2%;
}
#sidebarcategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#sidebarbuttons {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  right: 10%;
  gap: 10%;
}
#categorybox {
  width: 100%;
}
#widgetbox {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  #widgetbox {
    grid-template-columns: repeat(3, 1fr);
  }
}

.removebtn {
  display: none;
}
.widgetname {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 25%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 768px) {
  .widgetname {
    height: 22%;
  }
}
.widgettext {
  font-size: 12px;
  text-align: justify;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
}
#graph {
  margin: 0;
  text-align: center;
}
#nodatatext {
  text-align: center;
}
#modalbox {
  justify-content: center;
  align-items: center;
}
#modalbox input {
  border: 1px solid rgb(54, 54, 149);
}
#modalbox select {
  border: 1px solid rgb(54, 54, 149);
  background-color: white;
}

.my-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 16px;
}

.my-modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 0;
  width: 500px;
  max-width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 3;
  font-family: "Inter", sans-serif;
  background: white;
  font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
  .my-modal-content {
    width: 100%;
    max-width: 560px;
    height: auto;
    max-height: 95vh;
    border-radius: 6px;
    margin: 0;
    z-index: 3;
    padding: 0;
  }
}
#modalheading {
  width: 100%;

  text-align: center;
}
#category {
  padding: 20px;
  margin: 0;
  color: white;
  background-color: rgb(54, 54, 149);
  font-family: "Inter", sans-serif;
}
#widget {
  padding: 20px;
  margin: 0;
  color: white;
  background-color: rgb(54, 54, 149);
  font-family: "Inter", sans-serif;
}
#modalBody {
  margin: 5%;
}
#modalbuttons {
  display: flex;
  justify-content: space-evenly;
}
#shimmerui {
  width: 100%;
}
.shimmeruititle {
  width: 40%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

#shimmeruiwidgetbox {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
  #shimmeruiwidgetbox {
    grid-template-columns: repeat(2, 1fr);
  }
}
#Shimmeruiwidget {
  height: 150px;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}
.shimmeruiwidgettitle {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 24%;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.shimmeruiwidgettext {
  margin: 0;
}
